<div class="row">
  <div class="col-sm-12">
    <h3 class="title">Resource</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="big-block">
      <img
        class="big-imgage"
        src="https://via.placeholder.com/500x300"
        alt="https://via.placeholder.com/500x300"
      >
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi, culpa cupiditate distinctio eaque eum exercitationem inventore iste nam odio, provident quam repellat tempora voluptas. Architecto doloremque itaque iusto.
      </p>
      <p class="by">Post<span class="text-muted">by</span><strong>havt</strong></p>
      <p class="time text-muted">
        Jun 14 <span class="mx-1">•</span> 3 min read <i class="fas fa-star"></i>
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="list-small">
      <div class="small">
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="by">Post<span class="text-muted">by</span><strong>havt</strong></p>
        <p class="time text-muted">
          Jun 14 <span class="mx-1">•</span> 3 min read <i class="fas fa-star"></i>
        </p>
      </div>
      <div class="small">
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="by">Post<span class="text-muted">by</span><strong>havt</strong></p>
        <p class="time text-muted">
          Jun 14 <span class="mx-1">•</span> 3 min read <i class="fas fa-star"></i>
        </p>
      </div>
      <div class="small">
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="by">Post<span class="text-muted">by</span><strong>havt</strong></p>
        <p class="time text-muted">
          Jun 14 <span class="mx-1">•</span> 3 min read <i class="fas fa-star"></i>
        </p>
      </div>
      <div class="small">
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="by">Post<span class="text-muted">by</span><strong>havt</strong></p>
        <p class="time text-muted">
          Jun 14 <span class="mx-1">•</span> 3 min read <i class="fas fa-star"></i>
        </p>
      </div>
    </div>
  </div>
</div>
