h3 {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
}
.big-block {
  img {
    width: 100%;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
  }
  .title {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .description {
    color: gray;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .by {
    margin-top: 5px;
    font-size: 14px;
    span {
      margin-left: 3px;
    }
    strong {
      margin-left: 3px;
    }
  }
  .time {
    font-size: 14px;
    i.fa-star {
      font-size: 12px;
    }
  }
}

.list-small {
  .small {
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
    p {
      margin-bottom: 0;
    }
    .title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .by {
      margin-top: 2px;
      font-size: 13px;
      span {
        margin-left: 3px;
      }
      strong {
        margin-left: 3px;
      }
    }
    .time {
      font-size: 13px;
      i.fa-star {
        font-size: 12px;
      }
    }
  }
}
