<div class="row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <span>Đăng ký</span>
      </div>
      <div class="card-body">
        <div class="register">
          <form [formGroup]="formRegister" (ngSubmit)="onSubmit($event);">
            <div class="form-group">
              <label for="name">Họ và tên</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Họ và tên"
                formControlName="name"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Mật khẩu"
                formControlName="password"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Đăng ký</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

