<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link pl-0" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/members">Members</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-container *ngIf="!user; else userTemplate">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/auth/login">Đăng nhập</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/auth/register">Đăng ký</a>
          </li>
        </ng-container>
        <ng-template #userTemplate>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/auth/login">Trang cá nhân</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" (click)="logout()">Đăng xuất</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>
