.trending {
  display: flex;
  margin-bottom: 20px;
  .order {
    color: lightgrey;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin: 0 20px;
  }
  .content {
    p {
      margin: 0;
    }
    .title {
      font-size: 19px;
    }
    .by {
      margin-top: 5px;
      font-size: 14px;
      span {
        margin-left: 3px;
      }
      strong {
        margin-left: 3px;
      }
    }
    .time {
      font-size: 14px;
      i.fa-star {
        font-size: 12px;
      }
    }
  }
}
