<ngb-carousel
  [interval]="false"
  [showNavigationArrows]="false"
  class="carousel my-4"
>
  <ng-template ngbSlide>
    <div class="_1carousel">
      <img
        src="https://via.placeholder.com/500x400"
        alt="https://via.placeholder.com/500x400"
      >
      <div class="content">
        <p class="category">Category</p>
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae delectus, eius eum ipsam</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ea eaque est ex impedit quae quia repudiandae vel voluptate voluptatem. Ad exercitationem maiores molestiae odit qui quidem reprehenderit velit voluptas!</p>
        <p class="author">Post by <strong>Havt</strong></p>
        <p class="time">November 1st, 2020</p>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="_1carousel">
      block 2
    </div>
  </ng-template>
</ngb-carousel>
